{% extends "layout.html" %}
{% block main %}
<div class="container">
<h1>FeedMe</h1>
<p>Your Guide to Mobile Food and Restaurants for Alameda County</p>

<h2>Explore Oakland's Food Pods!</h2>
<p class="lead">The City of Oakland has opened up "Food Pods" where you can grab some food during lunch or dinner from all kinds of food trucks.</p>

<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msa=0&amp;msid=205548422541944208820.0004cd85fd460a358f63d&amp;ie=UTF8&amp;t=m&amp;source=embed&amp;ll=37.805851,-122.27706&amp;spn=0.02543,0.036478&amp;output=embed"></iframe><br /><small>View <a href="https://maps.google.com/maps/ms?msa=0&amp;msid=205548422541944208820.0004cd85fd460a358f63d&amp;ie=UTF8&amp;t=m&amp;source=embed&amp;ll=37.805851,-122.27706&amp;spn=0.02543,0.036478" style="color:#0000FF;text-align:left">Mobile Food Vending Group Sites</a> in a larger map</small>

<table class="table table-hover">
	<tr>
		<td>Day of the week</td>
		<td>Lunch</td>
		<td>Dinner</td>
	</tr>
	<tr>
		<td>Monday</td>
		<td>Clay Street (bet. 14th & 16th Streets) 11:00am–2:30pm</td>
		<td>N/A</td>
	</tr>
	<tr>
		<td>Tuesday</td>
		<td>Webster Street (bet. 2nd & 3rd Streets) 11:00am–2:30pm</td>
		<td>N/A</td>
	</tr>
	<tr>
		<td>Wednesday</td>
		<td>Snow Park (19th & Harrison Streets) 10:30–2:00pm</td>
		<td>N/A</td>
	</tr>
	<tr>
		<td>Thursday</td>
		<td>12th Street (bet.  Franklin St& Broadway) 10:30am–2:00pm</td>
		<td>N/A</td>
	</tr>
	<tr>
		<td>Friday</td>
		<td>N/A</td>
		<td>The Eatup (2025 Telegraph Av. parking lot) 5:00pm–10:00pm</td>
	</tr>
	<tr>
		<td>Saturday</td>
		<td>Peralta Junction (Ends on December 15) (Mandela Pkwy bet. Grand Av. & 20th St) 12:00pm–4:00pm</td>
		<td>N/A</td>
	</tr>
</table>

</div>
</div>
{% endblock %}
