{% extends "layout.html" %}
{% block main %}
<div class="container">
<h1>FeedMe</h1>
<p>Your Guide to Mobile Food and Restaurants for Alameda County</p>

<h2>Explore Oakland's Food Pods!</h2>
<p class="lead">The City of Oakland has opened up "Food Pods" where you can grab some food during lunch or dinner from all kinds of food trucks.</p>

<iframe width="800" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msa=0&amp;msid=205548422541944208820.0004cd85fd460a358f63d&amp;ie=UTF8&amp;t=m&amp;source=embed&amp;ll=37.805851,-122.27706&amp;spn=0.02543,0.036478&amp;output=embed"></iframe><br /><small>View <a href="https://maps.google.com/maps/ms?msa=0&amp;msid=205548422541944208820.0004cd85fd460a358f63d&amp;ie=UTF8&amp;t=m&amp;source=embed&amp;ll=37.805851,-122.27706&amp;spn=0.02543,0.036478" style="color:#0000FF;text-align:left">Mobile Food Vending Group Sites</a> in a larger map</small>

<table class="table table-hover">
	<tr>
		<th>Day</th>
		<th>Lunch</th>
		<th>Dinner</th>
	</tr>
	<tr>
		<td>Monday</td>
		<td>Clay Street bet. 14th and 16th Streets 11:00am-2:30pm</td>
		<td></td>
	</tr>
	<tr>
		<td>Tuesday</td>
		<td>Webster Street bet. 2nd and 3rd Streets 11:00am-2:30pm</td>
		<td></td>
	</tr>
	<tr>
		<td>Wednesday</td>
		<td>Snow Park, 19th and Harrison Streets 10:30am-2:00pm</td>
		<td></td>
	</tr>
	<tr>
		<td>Thursday</td>
		<td>12th Street bet. Franklin St and Broadway 10:30am-2:00pm</td>
		<td></td>
	</tr>
	<tr>
		<td>Friday</td>
		<td></td>
		<td>The Eatup: 2025 Telegraph Av. parking lot 5:00pm-10:00pm</td>
	</tr>
	<tr>
		<td>Saturday</td>
		<td>Peralta Junction (Ends on December 15) Mandela Pkwy bet. Grand Av. and 20th St 12:00pm-4:00pm</td>
		<td></td>
	</tr>
</table>

<blockquote class="twitter-tweet"><p>Food Fest Webster St b/t 3rd &amp; 4th in Oakland! Join us for some great food and awesome dessert! W/ @<a href="https://twitter.com/myshrimpshack">myshrimpshack</a>!</p>&mdash; SWEET TREAT STOP (@SWEETTREATSTOP) <a href="https://twitter.com/SWEETTREATSTOP/status/276776898229592065" data-datetime="2012-12-06T19:55:29+00:00">December 6, 2012</a></blockquote>
<script src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<blockquote class="twitter-tweet"><p>We're open at beautiful Snow Park in downtown Oakland. Last chance for a burger at this location before Thanksgiving! Open until 2pm today.</p>&mdash; Doc's of the Bay (@docsofthebay) <a href="https://twitter.com/docsofthebay/status/268799984537841665" data-datetime="2012-11-14T19:38:05+00:00">November 14, 2012</a></blockquote>
<script src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

</div>
</div>
{% endblock %}
