{% extends "layout.html" %}
{% block main %}
<div class="container">
<div class="row-fluid">
    <div class="span10">
      <!--Sidebar content-->
      <h2>The Food Trucks are rolling out!</h2>
	  <br>
	  <p class="lead">
        The City of Oakland supports mobile food. Here's where to
        locate popular food trucks at lunch time. </p>
    </div>
    <div class="span2">
    </div>
<iframe width="800" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msa=0&amp;msid=205548422541944208820.0004cd85682a4079bd4d6&amp;ie=UTF8&amp;t=m&amp;source=embed&amp;ll=37.775871,-122.22496&amp;spn=0.050881,0.072956&amp;output=embed"></iframe><br /><small>View <a href="https://maps.google.com/maps/ms?msa=0&amp;msid=205548422541944208820.0004cd85682a4079bd4d6&amp;ie=UTF8&amp;t=m&amp;source=embed&amp;ll=37.775871,-122.22496&amp;spn=0.050881,0.072956" style="color:#0000FF;text-align:left">Vehicular Food Vending</a> in a larger map</small>

</div>
</div>
{% endblock %}
